/*
  Start adding CSS here
*/

* {
  margin: 0;
  padding: 0;
}

table {
  margin-left: 25px;
  margin-top: 25px;
  border-collapse: collapse;
  font-family: "Segoe UI";
}

th:hover{
  cursor: pointer;
}

th, td {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
}

table, td, th {
  border: 1px solid #dddddd;
}
